:root{
    --primary-color: #0056b3;
    --secondary-color: #ff9900;
    --text-color: #333;
    --light-bg: #f4f4f4;
    --white:#ffffff;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.7;

}

nav{
    margi
}

nav a{
    color: var(--primary-color);
    padding: 8px;
}

nav a.active, nav a:hover{
    color: var(--secondary-color);
}

.container0{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
}

section{
    padding: 30px 0;
    margin-bottom: 20px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2em;
    border-bottom: 2px solid var(--secondary-color);
    display: inline;
    padding-bottom: 5px;
    color: var(--primary-color);
}
h3{
    color: var(--primary-color);
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    padding-bottom: 5px;
}

#values{
    background-color: var(--light-bg);
    text-align: center;
}

.values-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2px;
}

.values-list li{
    flex-basis: 30%;
    border: 1px solid #ddd;
    padding: 15px;
    font-weight: bold;
    border-left: 5px sold var(--secondary-color);
    margin: 10px 5px;
}
.content-block{
    padding: 0 40px;
}

.content-block p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.05em;
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.product-card{
    box-shadow: o 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
}
.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.product-card img {
    width: 100%;
    height: 60%;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 10px;

}

.product-card h4 {
    margin-top: 0;
    color: var(--secondary-color);
}

.cta-button{
    display: inline;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 8px 15px;
    margin-top: 10px;
    transition: background-color;
}

.cta-button:hover{
    background-color: #004085;
}

.contact-grid{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.contact-info, .contact-form-container{
    flex-basis: 50%;
    padding: 20px;
    background-color: var(--light-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05)
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea,
.contact-form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form textarea{
    resize: vertical;
    height: 120px;
}

.submit-button{
    display: block;
    color: var(--white);
    width: 100%;
    border-radius: 4px;
    background-color: var(--secondary-color);
    padding: 15px;
    cursor: pointer;
    transition: background-color 03s;
}

.info-item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.info-icon{
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-bottom: 3px;
}

.info-text strong{
    display: block;
    color: var(--primary-color);
    margin-bottom: 3px;
}